<%= form_for(post.comments.new, url: post_posts_comments_url(post)) do |f| %>
  <%= render 'layouts/shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :text, placeholder: 'Your comment to post...', required: true %>
  </div>
  <%= hidden_field_tag :post_id, post.id %>
  <%= f.submit 'Comment', class: 'btn btn-large btn-primary' %>
<% end %>
