<%= form_for(post.post_comments.new, remote: true) do |f| %>
  <%= render 'layouts/shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :comment_text, placeholder: 'Yout comment to post...', required: true %>
  </div>
  <%= hidden_field_tag :post_id, post.id %>
  <%= f.submit 'Comment', class: 'btn btn-large btn-primary' %>
<% end %>
