<div class="col-sm-3">
  <% if @user.avatar.present? %>
    <%= image_tag @user.avatar, alt: 'user avatar', class: 'user-avatar' %>
  <% else %>
    <%= image_tag 'no_profile_img.gif', alt: 'there is no avatar', class: 'user-avatar' %>
  <% end %>
</div>

<div class="user-info col-sm-2">
  <%= @user.name %>
</div>

<div class="col-sm-7">
  <% if @user == current_user %>
    <div id="post-form">
      <%= render 'posts/new_post_form' %>
    </div>
  <% end %>

    <div id="posts-list">
      <% if @user.posts.any? %>
        <%= render partial: 'posts/posts', locals: { user: @user } %>
      <% end %>
    </div>
</div>