<ol class="comments">
  <% comment.sub_comments.each do |comment| %>
    <%= image_tag comment.user.avatar, alt: 'commentator avatar', class: 'commentator-avatar' %>
    <%= comment.user.name %> commented <%= comment.post_comment.user.name %>'s comment
      <span class="timestamp">
        <%= time_ago_in_words(comment.created_at) %> ago:
      </span><br>
    <li class="post">
      <span class="content"><%= comment.comment_text %></span><br>
      <% if current_user == comment.user %>
        <%= link_to "Delete comment", comment, method: :delete, remote: true, class: 'remove-comment-link' %>
      <% end %>
    </li>
  <% end %>
</ol>